<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>99 Bottles of Beer on the Wall</title>
    </head>
    <body>
        <%const lyric=`${b} bottles of beer on the wall, ${b} bottles of beer.
        Take one down and pass it around, ${b-1} bottles of beer on the wall.`;
          %>
        <div class="site-title">
            <a href="/"><h1>99 Bottles of Beer on the Wall</h1></a>
            <p><%= lyric %></p>

        </div>
    </body>
</html>